@import '../../../common.styl'

.screen
  background white
.screenWrapper
  background white
.table
  background white
.head
  background white
.body
  background white
.pagination 
  background white
.row
  background white